# supervisely[model-benchmark]==6.73.232

# ultralytics==8.2.26
# --extra-index-url https://download.pytorch.org/whl/cu113
# torch==1.10.1+cu113
# torchvision==0.11.2+cu113
onnxruntime-gpu==1.18.0
tensorrt==10.6.0.post1
git+https://github.com/supervisely/supervisely.git@sem_seg_benchmark