# git+https://github.com/supervisely/supervisely.git@some-test-branch

ultralytics==8.0.112
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.10.1+cu113
torchvision==0.11.2+cu113
supervisely==6.73.50
