# git+https://github.com/supervisely/supervisely.git@some-test-branch

# supervisely[model-benchmark]==6.73.486
--extra-index-url https://download.pytorch.org/whl/cu128
networkx==2.8.8
numpy<2.3.3
torch==2.9.0+cu128
torchvision==0.24.0+cu128
onnx==1.21.0rc1
onnxruntime-gpu==1.24.1
dill==0.2.8.2
ruamel.yaml==0.18.10
ultralytics==8.3.15
filelock==3.20.3