# git+https://github.com/supervisely/supervisely.git@model-benchmark-ars-before-merge-with-main-branch
git+https://github.com/supervisely/supervisely.git@model_benchmark_almaz
setuptools==69.5.1
plotly==5.22.0